body{
    background-image: url('https://www.anses.fr/sites/default/files/Coronavirus.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
}

.overlay-smoked{
            width: 100vw;
            height: 100vh;
            padding-left: 2em;
            padding-right: 2em;
    background-color: rgba(0, 0, 0, 0.55);

}

.overlay-date{
            width: 70vw;
            height: 70vh;

    background-color: rgba(0, 0, 0, 0.75);
}

.bg-blue-transparent{
color: whitesmoke;
    background-color: rgba(25, 135, 84, 0.95);
}